@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-grid-1 {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.button-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.button-grid-1 a {
  display: block;
  background-color: #efefef;
  color: #f36b35;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.button-grid-2 a {
  display: block;
  background-color: #efefef;
  color: #f36b35;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.button-grid-2 a:hover {
  background-color: #e0e0e0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 24px;
}

.container h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recycler-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-title {
  font-size: 14px;
  font-weight: 550;
  color: #0d3d55;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.14);
  object-fit: cover;
  margin: 0 auto 15px;
}

.ld-item-image {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.14);
  object-fit: cover;
  margin: 0 auto 15px;
}

.ld-h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.ld-h3 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.ld-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.a-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ld-button {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: large;
  text-shadow: #0d3d55;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.ld-button:last-child {
  margin-bottom: 0;
}

.loaderContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full height to ensure vertical centering */
  position: relative; /* Position for absolutely positioning the spinner */
}

.spinnerContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: absolute; /* Position the spinner absolutely within the container */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.custom-spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.custom-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

/* styles/globals.css or styles/BottomSheet.module.css */
.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: translateY(0);
}

.translate-y-full {
  transform: translateY(100%);
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
